@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

body {
  margin: 0;
  line-height: normal;
}

:root {
  --color-gray-100: #2e231d;
  --color-tan: #a68465;
  --color-whitesmoke: #f8f7f3;
  --color-black: #000;
  --color-white: #fff;
  --color-gray-200: #050f1a;
  --color-slategray: #5c6c7e;
  --color-gainsboro: #e5e5e5;

  --br-15: 15px;

  --font-dm-sans: DM Sans;
  --font-poppins: Poppins;

  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
}
