.serviceFacility {
  	margin: 0;
}
.footerChild {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: var(--color-white);
  	width: 100%;
  	height: 534px;
}
.yourTrustedPlatform {
  	position: absolute;
  	top: 157px;
  	left: 143px;
  	line-height: 40px;
  	display: inline-block;
  	width: 359px;
}
.contactUs {
  	position: absolute;
  	top: 87px;
  	left: calc(50% + 343px);
  	font-size: var(--font-size-26);
  	line-height: 128.02%;
  	display: inline-block;
  	width: 217px;
}
.supportserveasecom {
  	position: absolute;
  	top: 157px;
  	left: calc(50% + 343px);
  	line-height: 40px;
}
.contactNumber {
  	position: absolute;
  	top: 197px;
  	left: calc(50% + 343px);
  	line-height: 40px;
  	display: inline-block;
  	width: 233px;
}
.support {
  	position: absolute;
  	top: 87px;
  	left: calc(50% + 144px);
  	font-size: var(--font-size-26);
  	line-height: 128.02%;
  	display: inline-block;
  	width: 196px;
}
.faqs {
  	position: absolute;
  	top: 158px;
  	left: calc(50% + 144px);
  	line-height: 40px;
  	display: inline-block;
  	width: 233px;
}
.privacyPolicy {
  	position: absolute;
  	top: 197px;
  	left: calc(50% + 144px);
  	line-height: 40px;
  	display: inline-block;
  	width: 233px;
}
.termsConditions {
  	position: absolute;
  	top: 237px;
  	left: calc(50% + 144px);
  	line-height: 40px;
  	display: inline-block;
  	width: 233px;
}
.aboutUs {
  	position: absolute;
  	top: 277px;
  	left: calc(50% + 144px);
  	line-height: 40px;
  	display: inline-block;
  	width: 233px;
}
.quickLinks {
  	position: absolute;
  	top: 87px;
  	left: calc(50% - 126px);
  	font-size: var(--font-size-26);
  	line-height: 128.02%;
  	display: inline-block;
  	width: 196px;
}
.servease {
  	position: absolute;
  	top: 87px;
  	left: calc(50% - 529px);
  	font-size: var(--font-size-26);
  	line-height: 128.02%;
  	display: inline-block;
  	width: 148px;
}
.home {
  	position: absolute;
  	top: 158px;
  	left: calc(50% - 126px);
  	line-height: 40px;
  	display: inline-block;
  	width: 233px;
}
.discover {
  	position: absolute;
  	top: 197px;
  	left: calc(50% - 126px);
  	line-height: 40px;
  	display: inline-block;
  	width: 233px;
}
.createAnAccount {
  	position: absolute;
  	top: 236px;
  	left: calc(50% - 126px);
  	line-height: 40px;
  	display: inline-block;
  	width: 233px;
}
.facebook {
  	position: absolute;
  	top: 0px;
  	left: 32px;
  	font-weight: 500;
}
.groupChild {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 22px;
  	height: 22px;
  	overflow: hidden;
}
.facebookParent {
  	position: absolute;
  	top: 347px;
  	left: 153px;
  	width: 117px;
  	height: 22px;
  	font-size: var(--font-size-18);
  	color: var(--color-white);
  	font-family: var(--font-inter);
}
.twitter {
  	position: absolute;
  	top: 0px;
  	left: 34px;
  	font-weight: 500;
}
.groupItem {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	width: 26px;
  	height: 22px;
  	overflow: hidden;
}
.twitterParent {
  	position: absolute;
  	top: 347px;
  	left: 305px;
  	width: 95px;
  	height: 23px;
  	font-size: var(--font-size-18);
  	color: var(--color-white);
  	font-family: var(--font-inter);
}
.instagram {
  	position: absolute;
  	top: 1px;
  	left: 32px;
  	font-weight: 500;
}
.groupInner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 24px;
  	height: 24px;
  	overflow: hidden;
}
.instagramParent {
  	position: absolute;
  	top: 346px;
  	left: 435px;
  	width: 119px;
  	height: 24px;
  	font-size: var(--font-size-18);
  	color: var(--color-white);
  	font-family: var(--font-inter);
}
.lineDiv {
  	position: absolute;
  	top: -1px;
  	left: -1px;
  	border-top: 2px solid var(--color-black);
  	box-sizing: border-box;
  	width: 1185px;
  	height: 2px;
}
.servease2025 {
  	position: absolute;
  	top: 27px;
  	left: 14px;
}
.lineParent {
  	position: absolute;
  	top: 389px;
  	left: 129px;
  	width: 1183px;
  	height: 53px;
  	font-size: var(--font-size-20);
}
.serveaseLogoAlbumCover3 {
  	position: absolute;
  	top: 84px;
  	left: 143px;
  	width: 40px;
  	height: 40px;
  	object-fit: cover;
}
.footer {
  	position: absolute;
  	top: 2222px;
  	left: 0px;
  	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--color-white);
  	width: 100%;
  	height: 490px;
  	text-align: left;
  	font-size: var(--font-size-16);
  	color: var(--color-black);
}
.whatweofferbox {
  	position: absolute;
  	top: 601px;
  	left: 0px;
  	background-color: var(--color-linen);
  	width: 100%;
  	height: 1621px;
}
.miscellaneous {
  	position: absolute;
  	top: 20px;
  	left: calc(50% - 67px);
  	line-height: 15px;
  	font-weight: 500;
}
.icon {
  	position: absolute;
  	height: 50%;
  	width: 100%;
  	top: 25%;
  	right: 37.31%;
  	bottom: 25%;
  	left: 37.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.chevronRight {
  	position: absolute;
  	top: 14px;
  	left: 496px;
  	width: 27px;
  	height: 27px;
  	overflow: hidden;
}
.link {
  	position: absolute;
  	top: 208px;
  	left: 0px;
  	border-radius: 0px 0px var(--br-12) var(--br-12);
  	background-color: var(--color-gray-100);
  	width: 560px;
  	height: 56px;
  	cursor: pointer;
}
.background {
  	position: absolute;
  	height: calc(100% - 2433px);
  	top: 1857px;
  	bottom: 576px;
  	left: calc(50% - 279px);
  	border-radius: var(--br-12);
  	background-color: var(--color-antiquewhite);
  	width: 560px;
}
.services {
  	color: var(--color-tan);
}
.ourServices {
  	position: absolute;
  	top: 685px;
  	left: 144px;
  	font-size: 50px;
  	line-height: 150%;
  	text-align: left;
  	color: var(--color-gray-200);
}
.personalBeautyAnd {
  	position: absolute;
  	top: 20px;
  	left: calc(50% - 131px);
  	line-height: 15px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 261px;
  	height: 15px;
}
.background1 {
  	position: absolute;
  	height: calc(100% - 2433px);
  	width: calc(100% - 880px);
  	top: 813px;
  	right: 736px;
  	bottom: 1620px;
  	left: 144px;
  	border-radius: var(--br-12);
  	background-color: var(--color-antiquewhite);
}
.healthAndMedical {
  	position: absolute;
  	top: 20px;
  	left: calc(50% - 138px);
  	line-height: 15px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 275px;
  	height: 15px;
}
.background2 {
  	position: absolute;
  	height: calc(100% - 2433px);
  	width: calc(100% - 880px);
  	top: 813px;
  	right: 141px;
  	bottom: 1620px;
  	left: 739px;
  	border-radius: var(--br-12);
  	background-color: var(--color-antiquewhite);
}
.fitnessAndSports {
  	position: absolute;
  	top: 20px;
  	left: calc(50% - 90px);
  	line-height: 15px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 180px;
  	height: 15px;
}
.background3 {
  	position: absolute;
  	height: calc(100% - 2433px);
  	width: calc(100% - 880px);
  	top: 1161px;
  	right: 736px;
  	bottom: 1272px;
  	left: 144px;
  	border-radius: var(--br-12);
  	background-color: var(--color-antiquewhite);
}
.educationAndTutoring {
  	position: absolute;
  	top: 20px;
  	left: calc(50% - 112px);
  	line-height: 15px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 224px;
  	height: 15px;
}
.svg {
  	position: absolute;
  	top: calc(50% - 9.78px);
  	left: calc(50% + 39.94px);
  	width: 14px;
  	height: 14px;
}
.background4 {
  	position: absolute;
  	height: calc(100% - 2433px);
  	width: calc(100% - 880px);
  	top: 1161px;
  	right: 141px;
  	bottom: 1272px;
  	left: 739px;
  	border-radius: var(--br-12);
  	background-color: var(--color-antiquewhite);
}
.repairAndTechnical {
  	position: absolute;
  	top: 20px;
  	left: calc(50% - 199px);
  	line-height: 15px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 398px;
}
.background5 {
  	position: absolute;
  	height: calc(100% - 2433px);
  	width: calc(100% - 880px);
  	top: 1509px;
  	right: 736px;
  	bottom: 924px;
  	left: 144px;
  	border-radius: var(--br-12);
  	background-color: var(--color-antiquewhite);
}
.foodAndBeverages {
  	position: absolute;
  	top: 19.11px;
  	left: calc(50% - 107px);
  	line-height: 15px;
  	font-weight: 500;
}
.background6 {
  	position: absolute;
  	height: calc(100% - 2433px);
  	width: calc(100% - 880px);
  	top: 1509px;
  	right: 141px;
  	bottom: 924px;
  	left: 739px;
  	border-radius: var(--br-12);
  	background-color: var(--color-antiquewhite);
}
.image10 {
  	position: absolute;
  	top: 59px;
  	left: 35px;
  	width: 1299.6px;
  	height: 975px;
}
.heroImage {
  	position: absolute;
  	top: calc(50% - 1266.5px);
  	left: calc(50% - 650px);
  	border-radius: 40px;
  	width: 1300px;
  	height: 331px;
  	overflow: hidden;
  	background-image: url('/discoverBG.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.serveaseLogoAlbumCover31 {
  	width: 40px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.serv {
  	font-weight: 500;
}
.servease1 {
  	position: relative;
  	font-size: 28px;
  	line-height: 150%;
  	text-align: left;
}
.navigationChild {
  	width: 124px;
  	height: 45px;
}
.home1 {
  	width: 119px;
  	position: relative;
  	line-height: 150%;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}
.contactUs1 {
  	width: 147px;
  	position: relative;
  	line-height: 150%;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 27px;
  	flex-shrink: 0;
}
.homeParent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 25px;
  	color: var(--color-gray-300);
}
.star {
  	width: 16px;
  	position: relative;
  	height: 16px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.signIn {
  	width: 75px;
  	position: relative;
  	line-height: 100%;
  	font-weight: 600;
  	display: inline-block;
  	flex-shrink: 0;
}
.button {
  	width: 100px;
  	border-radius: 8px;
  	background-color: var(--color-tan);
  	border: 1px solid var(--color-tan);
  	box-sizing: border-box;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	gap: 8px;
  	color: var(--color-snow);
}
.navigation {
  	position: absolute;
  	top: 47px;
  	left: calc(50% - 555px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 50px;
  	background-color: var(--color-white);
  	width: 1113px;
  	height: 69px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 90px 0px 60px;
  	box-sizing: border-box;
  	gap: 10px;
  	font-size: var(--font-size-18);
  	color: var(--color-black);
}
.icon7 {
  	position: absolute;
  	top: 22.38px;
  	left: 0px;
  	width: 20px;
  	height: 20px;
  	overflow: hidden;
}
.moreFilters {
  	position: absolute;
  	top: -0.87px;
  	left: 28px;
  	line-height: 27.75px;
  	display: flex;
  	align-items: center;
  	width: 81.9px;
  	height: 27.8px;
}
.link7 {
  	position: absolute;
  	width: calc(100% - 76px);
  	top: 4px;
  	right: 50px;
  	left: 26px;
  	height: 27.8px;
}
.verticalborder {
  	position: absolute;
  	top: calc(50% - 18px);
  	right: 201.09px;
  	border-left: 1px solid var(--color-whitesmoke-300);
  	box-sizing: border-box;
  	width: 185.6px;
  	height: 35.8px;
}
.icon8 {
  	position: absolute;
  	top: 32px;
  	left: 42.8px;
  	width: 15px;
  	height: 15px;
  	overflow: hidden;
}
.findListing {
  	position: absolute;
  	top: calc(50% - 14.77px);
  	left: calc(50% - 27.75px);
  	line-height: 27.75px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 80.8px;
  	height: 27.8px;
}
.button1 {
  	position: absolute;
  	top: calc(50% - 28px);
  	right: 10.04px;
  	border-radius: 60px;
  	background-color: var(--color-tan);
  	border: 1px solid var(--color-tan);
  	box-sizing: border-box;
  	width: 191.1px;
  	height: 55.8px;
  	text-align: center;
  	color: var(--color-white);
}
.enterAService {
  	position: absolute;
  	top: 9px;
  	left: 29px;
  	line-height: 27.75px;
}
.form1 {
  	position: absolute;
  	width: calc(100% - 430px);
  	top: 13px;
  	right: 406px;
  	left: 24px;
  	border-radius: var(--br-80);
  	background-color: var(--color-whitesmoke-100);
  	height: 47px;
  	font-size: var(--font-size-16);
  	color: var(--color-darkgray);
}
.form {
  	position: absolute;
  	width: calc(100% - 285px);
  	top: 469px;
  	right: 141px;
  	left: 144px;
  	border-radius: var(--br-80);
  	background-color: var(--color-white);
  	height: 76px;
  	text-align: left;
  	font-size: var(--font-size-15);
  	color: var(--color-gray-400);
}
.discover1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: var(--color-whitesmoke-200);
  	border: 1px solid var(--color-black);
  	box-sizing: border-box;
  	width: 100%;
	min-width: 1440px;
  	height: 2697px;
  	overflow: hidden;
}
.discover1Parent {
  	width: 100%;
  	position: relative;
  	height: 2697px;
  	text-align: center;
  	font-size: var(--font-size-20);
  	color: var(--color-white);
  	font-family: var(--font-dm-sans);
	min-width: 1440px;
}