@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Benne:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Color */
  --color-gray-400: #241f1b;
  --color-gray-500: #050b20;
  --color-whitesmoke: #f8f7f3;
  --color-black: #000;
  --color-tan: #a68465;
  --color-white: #fff;
  --color-gray-200: #38281b;
  --color-gray-100: #402f27;
  --color-antiquewhite: #e0d9c9;
  --color-gray-300: #2e231d;
  --color-linen: #efebe2;
  --color-snow: #fbf7f4;
  --color-dimgray: #604c3d;

  /* Gap */
  --gap-8: 8px;

  /* Padding */
  --padding-12: 12px;

  /* BorderRadius */
  --br-8: 8px;
  --br-12: 12px;
  --br-20: 20px;

  /* Font */
  --font-dm-sans: DM Sans;
  --font-inter: Inter;
  --font-benne: Benne;

  /* FontSize */
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-26: 26px;
  --font-size-30: 30px;
}
