@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Benne:wght@400&display=swap");

@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Benne:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Color */
  --color-gray-400: #241f1b;
  --color-gray-500: #050b20;
  --color-gray-600: #cccccc;
  --color-gray-700: #a9a9a9;
  --color-gray-800: #d9d9d9;
  --color-whitesmoke: #f8f7f3;
  --color-black: #000;
  --color-tan: #a68465;
  --color-white: #fff;
  --color-gray-200: #38281b;
  --color-gray-100: #402f27;
  --color-antiquewhite: #e0d9c9;
  --color-gray-300: #2e231d;
  --color-linen: #efebe2;
  --color-snow: #fbf7f4;
  --color-dimgray: #604c3d;

  /* Gap */
  --gap-8: 8px;

  /* Padding */
  --padding-12: 12px;

  /* BorderRadius */
  --br-8: 8px;
  --br-12: 12px;
  --br-20: 20px;

  /* Font */
  --font-dm-sans: DM Sans;
  --font-benne: Benne;

  /* FontSize */
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-26: 26px;
  --font-size-30: 30px;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Color */
  --color-gray-100: #2e231d;
  --color-gray-200: #050f1a;
  --color-white: #fff;
  --color-tan: #a68465;
  --color-whitesmoke: #f8f7f3;
  --color-black: #000;
  --color-slategray: #5c6c7e;
  --color-dimgray: #604c3d;
  --color-gainsboro: #e5e5e5;

  /* BorderRadius */
  --br-15: 15px;

  /* Font */
  --font-dm-sans: DM Sans;
  --font-poppins: Poppins;

  /* FontSize */
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Color */
  --color-dimgray-200: #604c3d;
  --color-dimgray-300: rgba(102, 102, 102, 0.35);
  --color-dimgray-400: rgba(102, 102, 102, 0.25);
  --color-dimgray-500: rgba(102, 102, 102, 0.8);
  --color-gray: #111;
  --color-black: #000;
  --color-white: #fff;
  --color-dimgray-100: #666;
  --color-whitesmoke: #f8f7f3;
  --color-tan: #a68465;
  --color-darkslategray: #333;

  /* Gap */
  --gap-4: 4px;
  --gap-6: 6px;
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-24: 24px;

  /* Padding */
  --padding-8: 8px;
  --padding-24: 24px;

  /* BorderRadius */
  --br-8: 8px;
  --br-12: 12px;
  --br-24: 24px;

  /* Font */
  --font-poppins: Poppins;
  --font-dm-sans: DM Sans;

  /* FontSize */
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-24: 24px;
}

:root {
  --color-gray-100: #2e231d;
  --color-tan: #a68465;
  --color-whitesmoke: #f8f7f3;
  --color-black: #000;
  --color-white: #fff;
  --color-crimson: #ee1d52;
  --color-dimgray: #604c3d;
  --color-dimgray-100: #666;
  --color-dimgray-200: rgba(102, 102, 102, 0.35);
  --color-gray-100: #111;
  --color-gray-200: #050f1a;
  --color-slategray: #5c6c7e;
  --color-gainsboro: #e5e5e5;

  --gap-4: 4px;
  --br-12: 12px;
  --br-15: 15px;

  --font-dm-sans: DM Sans;
  --font-poppins: Poppins;

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-clear-button {
  display: none !important;
  appearance: none !important;
}

/* rexi's overall global css */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

body {
  margin: 0;
  line-height: normal;
}

:root {
  --color-gray-100: #2e231d;
  --color-tan: #a68465;
  --color-snow: #fbf7f4;
  --color-whitesmoke: #f8f7f3;
  --color-whitesmoke-100: #f8f7f3;
  --color-whitesmoke-200: #f0ebeb;
  --color-black: #000;
  --color-white: #fff;
  --color-crimson: #ee1d52;
  --color-dimgray: #604c3d;
  --color-dimgray-100: #666;
  --color-dimgray-200: rgba(102, 102, 102, 0.35);
  --color-dimgray-300: rgba(102, 102, 102, 0.25);
  --color-dimgray-400: rgba(102, 102, 102, 0.8);
  --color-dimgray-500: #604c3d;
  --color-gray-100: #111;
  --color-gray-200: #050f1a;
  --color-gray-300: rgba(34, 34, 34, 0.1);
  --color-gray-400: #222;
  --color-slategray: #5c6c7e;
  --color-darkslategray: #333;
  --color-gainsboro: #e5e5e5;

  --gap-4: 4px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-16: 16px;

  --padding-4: 4px;
  --padding-8: 8px;
  --padding-16: 16px;
  --padding-24: 24px;

  --br-6: 6px;
  --br-8: 8px;
  --br-12: 12px;
  --br-15: 15px;
  --br-24: 24px;

  --font-dm-sans: DM Sans;
  --font-poppins: Poppins;

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-clear-button {
  display: none !important;
  appearance: none !important;
}

/* rexi unchecked duplicate global css */
:root {
  /* Color */
  --color-dimgray-300: rgba(102, 102, 102, 0.35);
  --color-dimgray-400: rgba(102, 102, 102, 0.25);
  --color-dimgray-500: rgba(102, 102, 102, 0.8);
  --color-gray: #111;
  --color-white: #fff;
  --color-dimgray-200: #604c3d;
  --color-dimgray-100: #666;
  --color-whitesmoke: #f8f7f3;
  --color-tan: #a68465;
  --color-darkslategray: #333;

  /* Gap */
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-24: 24px;

  /* Padding */
  --padding-24: 24px;

  /* BorderRadius */
  --br-8: 8px;
  --br-12: 12px;
  --br-24: 24px;

  /* Font */
  --font-poppins: Poppins;
  --font-dm-sans: DM Sans;

  /* FontSize */
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-24: 24px;
}

@import url("https://fonts.googleapis.com/css2?family=Benne:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Color */
  --color-tan-200: #a68465;
  --color-tan-300: rgba(166, 132, 101, 0.75);
  --color-snow: #fbf7f4;
  --color-black: #000;
  --color-white: #fff;
  --color-antiquewhite: #e0d9c9;
  --color-dimgray: #604c3d;
  --color-tan-100: #bba68a;
  --color-gray-200: #241f1b;
  --color-gray-100: #2e231d;
  --color-whitesmoke: #f8f7f3;
  --color-linen: #efebe2;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9d9d9;

  /* Gap */
  --gap-2: 2px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-15: 15px;
  --gap-16: 16px;
  --gap-20: 20px;
  --gap-24: 24px;

  /* Padding */
  --padding-8: 8px;
  --padding-10: 10px;
  --padding-12: 12px;
  --padding-20: 20px;

  /* BorderRadius */
  --br-4: 4px;
  --br-10: 10px;
  --br-12: 12px;
  --br-100: 100px;

  /* Font */
  --font-benne: Benne;
  --font-dm-sans: DM Sans;
  --font-inter: Inter;

  /* FontSize */
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-26: 26px;
  --font-size-32: 32px;
  --font-size-48: 48px;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Color */
  --color-tan: #a68465;
  --color-darkslategray: #333;
  --color-gray-100: #241f1b;
  --color-black: #000;
  --color-whitesmoke: #f8f7f3;
  --color-gray-200: #111;
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-dimgray-300: rgba(102, 102, 102, 0.35);
  --color-dimgray-200: #604c3d;
  --color-dimgray-100: #666;
  --color-white: #fff;
  --color-crimson-100: #c82c4a;
  --color-crimson-200: rgba(200, 44, 74, 0.5);
  --color-lavenderblush: #ffebee;

  /* Gap */
  --gap-8: 8px;
  --gap-12: 12px;

  /* Padding */
  --padding-24: 24px;

  /* BorderRadius */
  --br-4: 4px;
  --br-12: 12px;
  --br-24: 24px;

  /* Font */
  --font-dm-sans: DM Sans;
  --font-inter: Inter;

  /* FontSize */
  --font-size-12: 12px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-26: 26px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: #a68465;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #a68465;
  --primary-foreground: #a68465;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
