.background {
  position: absolute;
  top: 0px;
  left: 128px;
  backdrop-filter: blur(76px);
  background-color: var(--color-whitesmoke);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}

.errorMessage {
  position: absolute;
  top: 569px;
  left: 282px;
  display: none;
}

.authwindow1 {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08),
    0px 20px 32px rgba(96, 97, 112, 0.24);
  border-radius: 24px;
  background-color: var(--color-white);
  width: 732px;
  height: 750px;
  overflow: hidden;
}

.logIn {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 25px);
  font-weight: 600;
}

.login2 {
  width: 302px;
  position: relative;
  background-color: var(--color-tan);
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}

.signUp {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 33px);
  font-weight: 600;
}

.signup {
  display: flex;
  width: 100%;
  position: relative;
  background-color: var(--color-tan);
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-18);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
  opacity: 0.5;
  cursor: pointer;
}

.navbar {
  width: 604px;
  border-radius: var(--br-12);
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.navigationbar {
  width: 604px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcomeToServeaseContainer {
  position: relative;
}

.pleaseLogIn {
  position: relative;
  font-size: 20px;
  color: var(--color-slategray);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4);
  font-size: 40px;
  color: var(--color-gray-200);
}

.label {
  position: absolute;
  top: 0px;
  left: 0px;
}

.emailAddress {
  align-self: stretch;
  position: relative;
  height: 27px;
}

.typing {
  width: 1px;
  position: relative;
  background-color: var(--color-gray-100);
  height: 24px;
}

.inputemail {
  position: absolute;
  top: 15px;
  left: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tbx {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-12);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
  cursor: text;
}

.email1 {
  width: 454px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4);
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.password1 {
  width: 454px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4);
  z-index: 0;
}

.hideIcon {
  width: 30px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 20px);
  right: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  cursor: pointer;
}

.container {
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-tan);
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
}

.stateLayer {
  width: 18px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rememberMe1 {
  position: relative;
  font-weight: 500;
}

.rememberMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.forgetPassword {
  position: relative;
  text-decoration: underline;
  font-weight: 500;
  color: var(--color-tan);
  cursor: pointer;
}

.action {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  z-index: 2;
  font-size: var(--font-size-14);
}

.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 16px;
}

.userinputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  text-align: left;
  font-size: var(--font-size-16);
  color: var(--color-dimgray-100);
}

.buttontext {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 30.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttoncontainer {
  width: 454px;
  position: relative;
  border-radius: 40px;
  background-color: var(--color-tan);
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.5;
  font-size: 22px;
  cursor: pointer;
}

.logincontent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 604px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 75px;
  box-sizing: border-box;
  gap: 65px;
}

.authcontent {
  position: absolute;
  top: 45.62px;
  left: 64px;
  width: 604px;
  height: 630px;
  text-align: center;
  font-size: var(--font-size-18);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}

.authwindow {
  position: absolute;
  top: 145px;
  left: 717px;
  width: 732px;
  height: 750px;
}

.authcontent {
  position: absolute;
  top: 45.62px;
  left: 64px;
  width: 604px;
  height: 594.8px;
}

.closeIcon {
  position: absolute;
  top: 129px;
  right: 50px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  cursor: pointer;
}

.authlogoIcon {
  position: absolute;
  left: -160px;
  top: 525px;
  transform: translateY(-50%);
  height: 1050px;
  width: 1050px;
  object-fit: contain;
  z-index: 1;
}

.login1 {
  display: flex;
  position: relative;
  top: -40px;
  left: 175px;
  width: 1568px;
  height: 1024px;
}

.login {
  display: flex;
  width: 100%;
  position: relative;
  background-color: #f9f7f4;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-18);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}

.signup {
  transition: background-color 0.2s ease-in-out;
}

.signup:hover {
  background-color: var(--color-tan);
  opacity: 0.75;
}

.checkedContainer {
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 2px;
  background-color: var(--color-tan);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkIcon {
  width: 14px;
  height: 14px;
}
