.regislogoIcon {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.divider {
  position: absolute;
  top: calc(50% + 35.5px);
  left: 0;
  background-color: var(--color-dimgray-300);
  width: 100%;
  height: 1px;
}

.arrowIcon {
  position: absolute;
  top: 25px;
  left: 49px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}

.back {
  position: absolute;
  top: 25px;
  left: 83px;
  font-weight: 500;
  cursor: pointer;
}

.header {
  align-self: stretch;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  height: 73px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1000;
}

.joinUs {
  position: relative;
  line-height: 68px;
  font-weight: 500;
}

.signUpAnd {
  width: 497px;
  position: relative;
  font-size: 18px;
  color: var(--color-dimgray-100);
  display: inline-block;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  font-size: 40px;
  color: var(--color-gray-100);
}

.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-tan);
  width: 20px;
  height: 20px;
}

.div {
  position: absolute;
  top: 3.5px;
  left: calc(50% - 2.8px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.6px;
  height: 12.2px;
}

.number {
  width: 20px;
  position: relative;
  height: 20px;
}

.profile1 {
  position: relative;
  font-size: var(--font-size-16);
  font-weight: 300;
  color: var(--color-dimgray-500);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  opacity: 0.35;
}

.line {
  width: 150px;
  position: relative;
  background-color: var(--color-tan);
  height: 1px;
  opacity: 0.5;
  margin-left: -15px;
}

.documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  margin-left: -15px;
  position: relative;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  opacity: 0.35;
  margin-left: -15px;
  position: relative;
}

.login {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  opacity: 0.35;
  margin-left: -15px;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.bg4 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-tan);
  width: 24px;
  height: 24px;
}

.div4 {
  position: absolute;
  top: 4.2px;
  left: calc(50% - 3.35px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.7px;
  height: 14.7px;
}

.profileTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12);
}

.profileContent {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profileDescrip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.5;
}

.documentsTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12);
  text-align: center;
  font-size: var(--font-size-12);
}

.submitDocumentsNeeded {
  width: 611px;
  position: relative;
  font-weight: 300;
  color: var(--color-dimgray-100);
  display: inline-block;
}

.allFieldsRequired {
  width: 589px;
  position: relative;
  color: var(--color-gray-100);
  display: inline-block;
}

.documentsDescrip1 {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8);
}

.documentsDescrip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.uploadFilesText {
  position: relative;
}

.fileAddIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}

.clickToUpload {
  position: relative;
  font-weight: 500;
  opacity: 0.5;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10);
  cursor: pointer;
}

.uploadPhoto {
  align-self: stretch;
  border-radius: var(--br-12);
  background-color: var(--color-whitesmoke-200);
  width: 611px;
  height: 120px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 132px;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.uploadPhoto:hover {
  background-color: #e8dddd;
}

.pdf1 {
  position: relative;
  font-weight: 500;
}

.pdf {
  border-radius: var(--br-6);
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4) var(--padding-8);
}

.pdf6 {
  border-radius: var(--br-6);
  border: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4) var(--padding-8);
}

.documentsType {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: var(--font-size-12);
}

.document1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8);
}

.docuncheckedIcon {
  width: 24px;
  position: relative;
  height: 24px;
}

.businessRegis {
  align-self: stretch;
  border-radius: var(--br-12);
  background-color: var(--color-snow);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 611px;
  padding: var(--padding-16);
  gap: var(--gap-16);
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.2s ease;
  border: 1px solid transparent;
}

.businessRegis:hover {
  background-color: #eee4df;
}

.selected {
  background-color: #eee4df !important;
  border: 1.75px solid #bfa8a1;
  pointer-events: none;
}

.uploadComplete {
  position: relative;
  font-weight: 500;
  color: var(--color-tan);
}

.uploadIncompleteError {
  position: relative;
  font-weight: 500;
  color: #d8000c;
}

.uploadFiles {
  width: 589px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-10);
  font-size: var(--font-size-14);
  color: var(--color-gray-400);
}

.next {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 23px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  width: 611px;
  position: relative;
  border-radius: 32px;
  background-color: var(--color-tan);
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.5;
  text-align: center;
  font-size: 22px;
}

.buttoncontainer {
  width: 611px;
  position: relative;
  border-radius: 32px;
  background-color: var(--color-tan);
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 22px;
  cursor: pointer;
  opacity: 0.5;
}

.buttoncontainerActive {
  opacity: 1 !important;
  transition: opacity 0.2s ease-in-out;
}

.clicked {
  animation: pressDown 0.2s ease-in-out;
}

@keyframes pressDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 120px;
  justify-content: flex-end;
  position: relative;
  width: 611px;
}

.uploadErrorBox {
  background-color: #ffebee !important;
  border: 1px solid #ef5350 !important;
}

.errorbox {
  width: 611px;
  background-color: #ffe6e6;
  border: 1px solid #ff4d4f;
  border-radius: 12px;
  padding: 8px;
  text-align: center;
  color: #d8000c;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  bottom: 72px;
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}

.errorMessage {
  color: #d8000c;
  font-size: 15px;
  font-weight: 400;
}

.documents2 {
  border-radius: var(--br-24);
  background-color: var(--color-white);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 19px;
  text-align: left;
  font-size: var(--font-size-16);
}

.contactInformation {
  position: relative;
  font-size: var(--font-size-24);
  color: var(--color-darkslategray);
}

.contactInfo {
  border-radius: var(--br-24);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24);
}

.navcontents {
  align-self: stretch;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.content {
  position: relative;
  margin: 50px auto 50px auto;
  width: 659px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  padding-bottom: 50px;
}

.register {
  align-self: stretch;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  min-height: calc(100vh - 73px);
  overflow-y: auto;
  flex-shrink: 0;
  font-size: var(--font-size-12);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
  margin-top: 73px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.facilitySignup2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-16);
  color: var(--color-dimgray-500);
  font-family: var(--font-poppins);
  cursor: default;
}
