/*
.joinUs {
  position: relative;
  line-height: 68px;
  font-weight: 500;
}

.signUpAnd {
  width: 497px;
  position: relative;
  font-size: 18px;
  color: var(--color-dimgray-100);
  display: inline-block;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  font-size: 40px;
  color: var(--color-gray);
}

.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-tan);
  width: 20px;
  height: 20px;
}

.div {
  position: absolute;
  top: 3.5px;
  left: 7px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.6px;
  height: 12.2px;
}

.number {
  width: 20px;
  position: relative;
  height: 20px;
}

.profile1 {
  position: relative;
  font-size: var(--font-size-16);
  font-weight: 300;
  color: var(--color-dimgray-200);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  opacity: 0.35;
}

.line {
  width: 150px;
  position: relative;
  background-color: var(--color-tan);
  height: 1px;
  opacity: 0.5;
  margin-left: -15px;
}

.documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  opacity: 0.35;
  margin-left: -15px;
  position: relative;
}

.login {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  margin-left: -15px;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.bg4 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-tan);
  width: 24px;
  height: 24px;
}

.div4 {
  position: absolute;
  top: 4.2px;
  left: 8.4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.7px;
  height: 14.7px;
}

.number4 {
  width: 24px;
  position: relative;
  height: 24px;
}

.profileTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12);
}

.profileContent {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profileDescrip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.5;
}

.contactInformation {
  position: relative;
  font-size: var(--font-size-24);
  color: var(--color-darkslategray);
}

.contactInfo {
  border-radius: var(--br-24);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24);
}

.loginTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12);
  text-align: center;
  font-size: var(--font-size-12);
}

.setUpYour {
  width: 611px;
  position: relative;
  font-weight: 300;
  color: var(--color-dimgray-100);
  display: inline-block;
}

.allFieldsRequired {
  width: 589px;
  position: relative;
  color: var(--color-gray);
  display: inline-block;
}

.loginDescrip {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8);
  z-index: 0;
  font-size: var(--font-size-16);
  color: var(--color-white);
}

.label {
  position: absolute;
  top: 0px;
  left: 0px;
}

.emailLabel {
  align-self: stretch;
  position: relative;
  height: 27px;
}

.texts {
  position: relative;
}

.typing {
  width: 1px;
  position: relative;
  background-color: var(--color-gray);
  height: 24px;
}

.inputemail {
  position: absolute;
  top: 15px;
  left: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tbxemail {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-12);
  border: 1px solid var(--color-dimgray-400);
  box-sizing: border-box;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-16);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}

.email {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}

.password {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}

.hideIcon {
  width: 30px;
  position: absolute;
  margin: 0 !important;
  top: 283px;
  left: 559px;
  height: 25px;
  z-index: 3;
}

.hideIcon1 {
  width: 30px;
  position: absolute;
  margin: 0 !important;
  top: 390px;
  left: 559px;
  height: 25px;
  z-index: 4;
}

.confirmPassword {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}

.login3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-24);
}

.signup {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 38px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnsignup {
  width: 611px;
  position: relative;
  border-radius: 32px;
  background-color: var(--color-tan);
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.5;
  text-align: center;
  font-size: 22px;
  color: var(--color-white);
}

.login2 {
  border-radius: var(--br-24);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24);
  gap: 19px;
  text-align: left;
  font-size: var(--font-size-14);
  color: var(--color-dimgray-100);
}

.navcontents {
  height: 1174px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24);
}

.content {
  position: absolute;
  top: 56px;
  left: 390px;
  height: 1492px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 56px;
}

.register {
  position: absolute;
  height: calc(100% - 73px);
  top: 73px;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-whitesmoke);
  width: 1440px;
  overflow: hidden;
}

.regislogoIcon {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.divider {
  position: absolute;
  top: calc(50% + 35.5px);
  left: calc(50% - 720px);
  background-color: var(--color-dimgray-300);
  width: 1440px;
  height: 1px;
}

.arrowIcon {
  position: absolute;
  top: 25px;
  left: 49px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.back {
  position: absolute;
  top: 25px;
  left: 83px;
  font-weight: 500;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-white);
  width: 1440px;
  height: 73px;
  overflow: hidden;
  font-size: var(--font-size-16);
  color: var(--color-dimgray-200);
  font-family: var(--font-poppins);
}

.facilitySignup4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1724px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-12);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
*/

.regislogoIcon {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.divider {
  position: absolute;
  top: calc(50% + 35.5px);
  left: 0;
  background-color: var(--color-dimgray-300);
  width: 100%;
  height: 1px;
}

.arrowIcon {
  position: absolute;
  top: 25px;
  left: 49px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}

.back {
  position: absolute;
  top: 25px;
  left: 83px;
  font-weight: 500;
  cursor: pointer;
}

.header {
  align-self: stretch;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  height: 73px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1000;
}

.joinUs {
  position: relative;
  line-height: 68px;
  font-weight: 500;
}

.signUpAnd {
  width: 497px;
  position: relative;
  font-size: 18px;
  color: var(--color-dimgray-100);
  display: inline-block;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  font-size: 40px;
  color: var(--color-gray-100);
}

.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-tan);
  width: 20px;
  height: 20px;
}

.div {
  position: absolute;
  top: 3.5px;
  left: calc(50% - 2.8px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.6px;
  height: 12.2px;
}

.number {
  width: 20px;
  position: relative;
  height: 20px;
}

.profile1 {
  position: relative;
  font-size: var(--font-size-16);
  font-weight: 300;
  color: var(--color-dimgray-500);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  opacity: 0.35;
}

.line {
  width: 150px;
  position: relative;
  background-color: var(--color-tan);
  height: 1px;
  opacity: 0.5;
  margin-left: -15px;
}

.documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  opacity: 0.35;
  margin-left: -15px;
  position: relative;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  opacity: 0.35;
  margin-left: -15px;
  position: relative;
}

.login {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  margin-left: -15px;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.bg4 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-tan);
  width: 24px;
  height: 24px;
}

.div4 {
  position: absolute;
  top: 4.2px;
  left: calc(50% - 3.35px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.7px;
  height: 14.7px;
}

.docuncheckedIcon {
  width: 24px;
  position: relative;
  height: 24px;
}

.profileTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12);
}

.profileContent {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profileDescrip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.5;
}

.contactInformation {
  position: relative;
  font-size: var(--font-size-24);
  color: var(--color-darkslategray);
}

.contactInfo {
  border-radius: var(--br-24);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24);
}

.loginTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12);
  text-align: center;
  font-size: var(--font-size-12);
}

.setUpYour {
  width: 611px;
  position: relative;
  font-weight: 300;
  color: var(--color-dimgray-100);
  display: inline-block;
}

.allFieldsRequired {
  width: 589px;
  position: relative;
  color: var(--color-gray-100);
  display: inline-block;
}

.loginDescrip1 {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8);
}

.loginDescrip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.label {
  position: absolute;
  top: 0px;
  left: 0px;
}

.emailLabel {
  align-self: stretch;
  position: relative;
  height: 27px;
}

.texts {
  position: relative;
}

.typing {
  width: 1px;
  position: relative;
  background-color: var(--color-gray);
  height: 24px;
}

.inputemail {
  position: absolute;
  top: 15px;
  left: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tbxemail {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-12);
  border: 1px solid var(--color-dimgray-400);
  box-sizing: border-box;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-16);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}

.email {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8);
}

.password {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8);
  position: relative;
}

.confirmPassword {
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8);
  position: relative;
}

.hideIcon {
  position: absolute;
  top: 43px;
  right: 20px;
  width: 30px;
  height: 25px;
  z-index: 1;
  cursor: pointer;
}

.hideIcon1 {
  position: absolute;
  top: 43px;
  right: 20px;
  width: 30px;
  height: 25px;
  z-index: 1;
  cursor: pointer;
}

.loginForm {
  width: 589px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-24);
  font-size: var(--font-size-14);
  color: var(--color-gray-400);
}

.signup {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 38px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.signupText {
  position: relative;
}

.buttoncontainer {
  width: 611px;
  position: relative;
  border-radius: 32px;
  background-color: var(--color-tan);
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 22px;
  cursor: pointer;
  opacity: 0.5;
  text-align: center;
  color: var(--color-white);
}

.buttoncontainerActive {
  opacity: 1 !important;
  transition: opacity 0.2s ease-in-out;
}

.clicked {
  animation: pressDown 0.2s ease-in-out;
}

@keyframes pressDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 120px;
  justify-content: flex-end;
  position: relative;
  width: 611px;
}

.errorbox {
  width: 611px;
  background-color: #ffe6e6;
  border: 1px solid #ff4d4f;
  border-radius: 12px;
  padding: 8px;
  text-align: center;
  color: #d8000c;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  bottom: 72px;
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}

.errorMessage {
  color: #d8000c;
  font-size: 15px;
  font-weight: 400;
}

.login2 {
  border-radius: var(--br-24);
  background-color: var(--color-white);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24);
  box-sizing: border-box;
  gap: 19px;
  text-align: left;
  font-size: var(--font-size-16);
}

.navcontents {
  align-self: stretch;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.content {
  position: relative;
  margin: 50px auto 50px auto;
  width: 659px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  padding-bottom: 50px;
}

.register {
  align-self: stretch;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  min-height: calc(100vh - 73px);
  overflow-y: auto;
  flex-shrink: 0;
  font-size: var(--font-size-12);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
  margin-top: 73px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.facilitySignup4 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-16);
  color: var(--color-dimgray-500);
  font-family: var(--font-poppins);
  cursor: default;
}
