.serviceFacility {
  	margin: 0;
}

@keyframes bounceInTop {
  0% {
    opacity: 0;
    transform: translate(0%, -80px);
  }
  60% {
    opacity: 1;
    transform: translate(0%, 15px);
  }
  80% {
    transform: translate(0%, -5px);
  }
  100% {
    transform: translate(0%, 0);
  }
}

.serviceFacilityAppointmentContainer {
  	position: absolute;
  	top: -47px;
  	left: 4384px;
  	font-size: var(--font-size-64);
  	line-height: 150%;
  	font-family: var(--font-benne);
}
.whatweofferbox {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: var(--color-linen);
  	width: 1440px;
  	height: 628px;
}
.icon {
  	position: absolute;
  	top: -5px;
  	left: -15px;
  	width: 35px;
  	height: 35px;
  	overflow: hidden;
    cursor: pointer;
}
.moreFilters {
    color: var(--color-gray-500);
  	position: absolute;
  	top: -0.87px;
  	left: 28px;
  	line-height: 27.75px;
  	display: flex;
  	align-items: center;
  	width: 81.9px;
  	height: 27.8px;
    cursor: pointer;
}
.link {
  	position: absolute;
  	width: calc(100% - 76px);
  	top: 4px;
  	right: 50px;
  	left: 26px;
  	height: 27.8px;
}
.verticalborder {
  	position: absolute;
  	top: calc(50% - 18px);
  	right: 201.09px;
  	border-left: 1px solid var(--color-gray-700);
  	box-sizing: border-box;
  	width: 185.6px;
  	height: 35.8px;
}
.icon1 {
  	position: absolute;
  	top: 16px;
  	left: 36px;
  	width: 20px;
  	height: 20px;
  	overflow: hidden;
    cursor: pointer;
}
.findListing {
  	position: absolute;
  	top: calc(50% - 13.77px);
  	left: calc(50% - 27.75px);
  	line-height: 27.75px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 80.8px;
  	height: 27.8px;
}
.button {
  	position: absolute;
  	top: calc(50% - 28px);
  	right: 10.04px;
  	border-radius: 60px;
  	background-color: var(--color-tan);
  	border: 1px solid var(--color-tan);
  	box-sizing: border-box;
  	width: 191.1px;
  	height: 55.8px;
  	text-align: center;
  	color: var(--color-white);
    cursor: pointer;
}
.enterAService {
    color: var(--color-gray-700);
  	position: absolute;
  	top: 9px;
  	left: 29px;
  	line-height: 27.75px;
}
.form1 {
  	position: absolute;
  	width: calc(100% - 430px);
  	top: 13px;
  	right: 406px;
  	left: 24px;
  	border-radius: 80px;
  	background-color: var(--color-whitesmoke-100);
  	height: 47px;
  	font-size: var(--font-size-16);
  	color: var(--color-darkgray);
}
.form {
  	position: absolute;
  	width: calc(100% - 285px);
  	top: 477px;
  	right: 143px;
  	left: 142px;
  	border-radius: 80px;
  	background-color: var(--color-white);
  	height: 76px;
  	font-size: var(--font-size-15);
  	color: var(--color-gray-300);
}
.services {
  	color: var(--color-gray-100);
}
.allServices {
  	position: absolute;
  	top: 714px;
  	left: 119px;
  	font-size: 50px;
  	line-height: 150%;
  	color: var(--color-tan-200);
}
.barbershops {
  	position: absolute;
  	top: 151px;
  	left: 102px;
  	line-height: 15px;
  	font-weight: 800;
}
.heroImage {
  	position: absolute;
  	top: calc(50% - 1261px);
  	left: calc(50% - 652px);
  	border-radius: 40px;
  	width: 1300px;
  	height: 331px;
  	overflow: hidden;
  	background-image: url('/Barbershop.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
  	font-size: var(--font-size-64);
  	color: var(--color-white);
}
.serveaseLogoAlbumCover3 {
  	width: 40px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
    cursor: pointer;
}
.serv {
  	font-weight: 500;
}
.servease {
  	position: relative;
  	font-size: 28px;
  	line-height: 150%;
  	text-align: left;
    color: var(--color-tan);
    cursor: pointer;
}
.navigationChild {
  	width: 124px;
  	height: 45px;
}
.home {
  	width: 119px;
  	position: relative;
  	line-height: 150%;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
    cursor: pointer;
}
.contactUs {
  	width: 147px;
  	position: relative;
  	line-height: 150%;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 27px;
  	flex-shrink: 0;
    cursor: pointer;
}
.home:hover,
.contactUs:hover {
  color: var(--color-tan);
  font-weight: 700;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.homeParent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 25px;
  	color: var(--color-gray-200);
}
.star {
  	width: 16px;
  	position: relative;
  	height: 16px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.signIn {
  	width: 75px;
  	position: relative;
  	line-height: 100%;
  	font-weight: 600;
  	display: inline-block;
  	flex-shrink: 0;
}
.button1 {
  	width: 100px;
  	border-radius: 8px;
  	background-color: var(--color-tan-200);
  	border: 1px solid var(--color-tan-200);
  	box-sizing: border-box;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	gap: 8px;
  	color: var(--color-snow);
}
.navigation {
  	position: fixed;
  	top: 47px;
  	left: calc(50% - 556px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 50px;
  	background-color: var(--color-white);
  	width: 1113px;
  	height: 69px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 90px 0px 60px;
  	box-sizing: border-box;
  	gap: var(--gap-10);
  	text-align: center;
  	font-size: var(--font-size-18);
	z-index: 100;
	animation: bounceInTop 0.8s ease forwards;
}
.customerQuoteChild {
  	align-self: stretch;
  	border-radius: var(--br-12) var(--br-12) 0px 0px;
  	background-color: var(--color-antiquewhite);
  	height: 254px;
}
.avatar1 {
  	width: 45px;
  	position: relative;
  	border-radius: 50%;
  	background-color: var(--color-gainsboro-200);
  	height: 45px;
}
.serviceFacilityName {
  	position: relative;
  	line-height: 150%;
  	font-weight: 600;
	width: 320px;
}
.location1 {
  	position: relative;
  	line-height: 150%;
  	font-weight: 500;
  	color: var(--color-tan-100);
}
.serviceFacilityNameParent {
  	display: flex;
	margin-left: 12px;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: var(--gap-2);
}
.avatar2 {
  	width: 117px;
  	height: 46px;
}
.div {
  	position: absolute;
  	top: 0px;
  	left: 142.29px;
  	line-height: 150%;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 23.7px;
}
.groupChild {
  	position: absolute;
  	top: 0px;
  	left: 30px;
  	width: 23.7px;
  	height: 20px;
}
.groupItem {
  	position: absolute;
  	top: 0px;
  	left: 50.71px;
  	width: 23.7px;
  	height: 20px;
}
.groupInner {
  	position: absolute;
  	top: 0px;
  	left: 72.14px;
  	width: 23.7px;
  	height: 20px;
}
.starIcon {
  	position: absolute;
  	top: 0px;
  	left: 115px;
  	width: 20px;
  	height: 20px;
}
.groupChild1 {
  	position: absolute;
  	top: 0px;
  	left: 93.43px;
  	width: 23.7px;
  	height: 20px;
}
.parent {
  	align-self: stretch;
  	position: relative;
  	height: 20px;
}
.viewDetails {
  	width: 86.7px;
  	position: relative;
  	line-height: 27.75px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	height: 27.8px;
  	flex-shrink: 0;
    cursor: pointer;
}
.svgIcon {
  	width: 14px;
  	position: relative;
  	height: 14px;
    cursor: pointer;
}
.link1 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-end;
  	gap: var(--gap-10);
  	font-size: var(--font-size-15);
  	color: var(--color-dimgray);
}
.groupParent {
  	width: 166px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: center;
  	gap: var(--gap-2);
}
.avatar3 {
  	width: 166px;
  	height: 46px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	font-size: 13px;
  	color: var(--color-tan-100);
}
.avatar {
	top: 20px;
	left: 20px;
	position: relative;
	border-radius: 50%;
	background-color: var(--color-gray-100);
	height: 45px;
	width: 45px;
	display: flex;
}
.div1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 29.6px;
  	font-weight: 500;
}
.wrapper {
  	width: 47px;
  	position: relative;
  	height: 30px;
  	font-size: var(--font-size-32);
  	color: var(--color-gray-300);
}
.avatarParent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: var(--padding-20);
  	gap: 169px;
}
.customerQuote {
  	width: 586px;
  	border-radius: var(--br-12);
  	background-color: var(--color-white);
  	border: 1px solid var(--color-gainsboro-100);
  	box-sizing: border-box;
  	height: 345px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.avatarWrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: var(--padding-20);
}
.cards {
  	position: relative;
  	top: 853px;
	left: calc(50% - 601px);
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 50px;
  	color: var(--color-gray-100);
}
.cards1 {
  	position: absolute;
  	top: 1661px;
  	left: calc(50% - 601px);
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 50px;
  	color: var(--color-gray-100);
}
.cards2 {
  	position: absolute;
  	top: 1257px;
  	left: calc(50% - 600px);
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 50px;
  	color: var(--color-gray-100);
}
.footerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-white);
  width: 100%;
  height: 534px;
}
.yourTrustedPlatform {
  position: absolute;
  top: 157px;
  left: 19%;
  line-height: 40px;
  display: inline-block;
  width: 359px;
}

.contactUs1 {
  position: absolute;
  top: 87px;
  margin-left: 65px;
  left: calc(50% + 343px);
  font-size: var(--font-size-26);
  line-height: 128.02%;
  display: inline-block;
  width: 217px;
}

.supportserveasecom {
  position: absolute;
  top: 157px;
  margin-left: 69px;
  left: calc(50% + 343px);
  line-height: 40px;
}
.contactNumber {
  position: absolute;
  margin-left: 69px;
  top: 197px;
  left: calc(50% + 343px);
  line-height: 40px;
  display: inline-block;
  width: 233px;
}
.support {
  position: absolute;
  top: 87px;
  margin-left: 35px;
  left: calc(50% + 144px);
  font-size: var(--font-size-26);
  line-height: 128.02%;
  display: inline-block;
  width: 196px;
}

.faqs {
  position: absolute;
  top: 158px;
  margin-left: 39px;
  left: calc(50% + 144px);
  line-height: 40px;
  display: inline-block;
  width: 233px;
}

.privacyPolicy {
  position: absolute;
  top: 197px;
  margin-left: 39px;
  left: calc(50% + 144px);
  line-height: 40px;
  display: inline-block;
  width: 233px;
}

.termsConditions {
  position: absolute;
  top: 237px;
  margin-left: 39px;
  left: calc(50% + 144px);
  line-height: 40px;
  display: inline-block;
  width: 233px;
}

.aboutUs {
  position: absolute;
  top: 277px;
  margin-left: 39px;
  left: calc(50% + 144px);
  line-height: 40px;
  display: inline-block;
  width: 233px;
}

.quickLinks {
  position: absolute;
  top: 87px;
  margin-left: 50px;
  left: calc(50% - 126px);
  font-size: var(--font-size-26);
  line-height: 128.02%;
  display: inline-block;
  width: 196px;
}
.servease1 {
  position: absolute;
  top: 87px;
  left: 21%;
  color: var(--color-tan);
  font-size: var(--font-size-26);
  line-height: 128.02%;
  display: inline-block;
  width: 148px;
  cursor: pointer;
}

.serv {
  font-weight: normal;
}

.home1 {
  position: absolute;
  top: 158px;
  margin-left: 54px;
  left: calc(50% - 126px);
  line-height: 40px;
  display: inline-block;
  width: 233px;
}
.discover1 {
  position: absolute;
  top: 197px;
  left: calc(50% - 126px);
  line-height: 40px;
  display: inline-block;
  margin-left: 54px;
  width: 233px;
}

.createAnAccount {
  position: absolute;
  top: 236px;
  margin-left: 54px;
  left: calc(50% - 126px);
  line-height: 40px;
  display: inline-block;
  width: 233px;
}
.lineDiv {
  position: absolute;
  top: -1px;
  left: -1px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 1600px;
  height: 2px;
}

.servease2025 {
  position: relative;
  top: 27px;
  left: 19%;
}

.lineParent {
  position: absolute;
  top: 389px;
  left: 129px;
  width: 1183px;
  height: 53px;
  font-size: var(--font-size-20);
}

.serveaseLogoAlbum {
  position: relative;
  top: 84px;
  left: 18.5%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.footer {
  	position: absolute;
  	top: 2217px;
  	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--color-white);
  	width: 100%;
  	height: 475px;
}
.discover3 {
  	width: 100%;
  	position: relative;
  	background-color: var(--color-whitesmoke-200);
  	box-sizing: border-box;
  	height: 2692px;
  	overflow: hidden;
  	text-align: left;
  	font-size: var(--font-size-16);
  	color: var(--color-black);
  	font-family: var(--font-dm-sans);
}

.supportserveasecom,
.faqs,
.privacyPolicy,
.termsConditions,
.aboutUs,
.home1,
.discover1,
.createAnAccount,
.contactNumber {
  transition: transform 0.3s ease, color 0.3s ease;
}

.supportserveasecom:hover,
.faqs:hover,
.privacyPolicy:hover,
.termsConditions:hover,
.aboutUs:hover,
.home1:hover,
.discover1:hover,
.createAnAccount:hover,
.contactNumber:hover {
  transform: translateX(8px);
  color: var(--color-tan);
}

/* ADD THIS TO YOUR CSS FILE (e.g., styles/specific-category.module.css) */

/* This is the main container for all your service provider cards */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
  gap: 2rem; /* The space between cards, adjust as needed */
  padding: 0 2rem; /* Adds some space on the sides */
  max-width: 1200px; /* Optional: Constrains the max width */
  margin: 2rem auto; /* Centers the grid and adds space on top/bottom */
}

/* This makes the grid stack into a single column on smaller screens */
@media (max-width: 900px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}

/* A simple utility class for loading/error messages */
.statusMessage {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  padding: 4rem 0;
}